---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Empathy from '../components/Empathy.astro';
import About from '../components/About.astro';
import Stories from '../components/Stories.astro';
import Trust from '../components/Trust.astro';
import Activities from '../components/Activities.astro';
import Summit from '../components/Summit.astro';
import Founder from '../components/Founder.astro';
import Steps from '../components/Steps.astro';
import FAQ from '../components/FAQ.astro';
import CTA from '../components/CTA.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout>
  <Header />
  <main>
    <Hero />
    <Empathy />
    <About />
    <Stories />
    <Founder />
    <Trust />
    <Activities />
    <Summit />
    <Steps />
    <FAQ />
    <CTA />
  </main>
  <Footer />
</BaseLayout>
